 @font-face {
   font-family: "Reaver";
   src: url('https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Bold.woff');
 }

 @font-face {
   font-family: "Radiance";
   src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.woff");
 }

 body {
   background-image: url(background/greyfade.jpg);
   background-attachment: fixed;
   background-size: cover;
 }

 .header {
   font-family: "Radiance", "Noto Sans", sans-serif;
   display: flex;
   color: white;
   justify-content: center;
   font-size: 50px;
   text-shadow: 10px 5px 5px black;
 }


 .hero_container:hover {
   display: block;
   transform: scale(1.3);
   z-index: 2;
 }

 .hero_container {
   position: relative;
   overflow: hidden;
   transition: all 0.2s ease-in-out;
   z-index: 1;
   border: 2px solid transparent;
 }

 .hero_name {
   font-weight: 600;
   font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
   position: absolute;
   bottom: -50px;
   left: 10px;
   opacity: 0;
   transition: all 0.4s ease-in-out;
 }

 .hero_container:hover .hero_name {
   color: white;
   bottom: 0;
   opacity: 1;
 }

 .button_container {
   padding-top: 25px;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .btnImg {
   height: 45px;
 }

 .heroes {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   padding: 35px 100px 0px 150px;
 }

 .hide {
   opacity: 0.2;
   pointer-events: none;
 }

 .backdrop {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 2;
   display: none;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.7);
 }

 .modal {
   display: flex;
   flex-direction: column;
   align-items: center;
   max-width: 450px;
   width: 100% calc(100% - 100px);
   padding: 12px;
   border-radius: 4px;
   min-height: 200px;
   background-color: white;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }

 @keyframes slideme {
   0% {
     left: -30px;
     margin-left: 0px;
   }

   30% {
     left: 110%;
     margin-left: 80px;
   }

   100% {
     left: 110%;
     margin-left: 80px;
   }
 }

 #close_btn {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(0, 0, 0, 0);
   padding: 0;
   border: 0;
   color: black;
   position: absolute;
   top: 12px;
   right: 12px;
   width: 24px;
   height: 24px;

 }

 #close_btn:hover {
   color: red;
 }

 #artifacts {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
 }

 .modal_name {
   font-size: 24px;
   font-family: "Reaver", serif;
   text-align: center;
   font-weight: 700;
   margin: 0;
 }

 .build_name {
   margin-top: 0;
   text-align: center;
   font-family: "Radiance", sans-serif;
 }

 .spin {
   background-color: rgba(0, 0, 0, 0);
   padding: 12px;
   border: 0;
   margin: auto 0 0;
   font-family: "Radiance", sans-serif;
   border: 3px solid rgba(255, 255, 255, .3);
   border-color: grey;
 }

 #random {
   align-items: center;
   justify-content: center;
   display: flex;
   width: 100%;
   min-height: 48px;
 }

 #artifacts {
   gap: 5px;
   display: flex;
   flex-wrap: wrap;
 }

 .img {
   width: 100%;
 }